<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.forwiz.client.user.mapper.UserMapper">

	<select id="createUser" parameterType="String" resultType="com.learn.forwiz.client.user.vo.UserVO">
		/*createUser*/
		
        INSERT INTO tb_user ( password, user_nm, email, contact, update_dt, regist_dt, last_login_at) 
		VALUES (#{password}, #{userNm}, #{email}, #{contact},now(),now(),now());
	</select>
</mapper>