<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %5p [%c] %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="java.sql" level="INFO" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="egovframework" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="org.egovframe" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="org.springframework" level="INFO"	additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="jdbc" level="OFF" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="jdbc.connection" level="OFF" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="jdbc.sqlonly" level="OFF" additivity="false"><!-- 파라미터를 셋팅해서 출력 -->
			<AppenderRef ref="console" />
		</Logger>  
		<Logger name="jdbc.sqltiming" level="DEBUG" additivity="false"> <!--쿼리 실행 속도 표시 -->
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="jdbc.resultsettable" level="OFF" additivity="false"><!-- 결과값을 보여줌 -->
			<AppenderRef ref="console" />
		</Logger>  
		<Logger name="log4jdbc.debug" level="OFF" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="jdbc.audit" level="OFF" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="jdbc.resultset" level="OFF" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Root level="INFO">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>
