<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.forwiz.user.mapper.UserMapper">

	<select id="selectUserList" resultType="com.learn.forwiz.user.vo.UserVO">
       SELECT 
        	  USER_NO,
              USER_NM, 
              EMAIL, 
              CONTACT, 
              REGIST_DT, 
              ACCOUNT_STATUS_CD
       FROM TB_USER
	</select>
</mapper>