<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.forwiz.lecture.mapper.LectureMapper">

	<select id="selectLectureList" resultType="com.learn.forwiz.lecture.vo.LectureVO">
        SELECT *
          FROM TB_LECTURE
	</select>
	
	<select id="selectLectureDetail" parameterType="String" resultType="com.learn.forwiz.lecture.vo.LectureVO">
	    SELECT *
          FROM TB_LECTURE
	     WHERE LECTURE_NO = #{lectureNo}::NUMERIC
	</select>

</mapper>